
:root{

    --MAIN-TEXT-color:#323232; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #5e5e5e; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color:#1C90F3; /* Color of links */
    --MAIN-LINK-HOVER-color:#167ad0; /* Color of hovered links */
    --MAIN-ANCHOR-color: #1C90F3; /* color of anchors on titles */

    --MENU-HOME-LINK-color: #323232; /* Color of the home button text */
    --MENU-HOME-LINK-HOVER-color: #5e5e5e; /* Color of the hovered home button text */

    --MENU-HEADER-BG-color:#070707; /* Background color of menu header  0745FF*/
    --MENU-HEADER-BORDER-color:#0745FF; /*Color of menu header border FF9500*/

    --MENU-SEARCH-BG-color:#323232; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #33a1ff; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #a1d2fd; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color:#0745FF; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:#252c31; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #ccc; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #777; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #fff; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #33a1ff; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #20272b; /* Color of <hr> separator in menu */

}

#exchanges-examples-table {
}

#exchanges-examples-table code, #exchanges-examples-table td:not(:first-child) {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

#exchanges-examples-table > table > thead > tr > th:nth-child(2) {
    width: 45%;
}

#exchanges-examples-table > table > thead > tr > th:nth-child(2) {
    width: 45%;
}

.exchanges-support-table > table > thead > tr > th:nth-child(1) {
    width: 25%;
}

main .supporters {
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}
.justify-content-left {
	justify-content: left !important;
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.p-3 {
	padding: 1rem !important;
}
small, .small {
	font-size: 80%;
	font-weight: 400;
}
.supporters img {
	width: 75px !important;
	height: 75px !important;
	margin: 1rem auto !important;
}
img {
	vertical-align: middle;
	border-style: none;
}

/* Make sure link still get the right color even if they are wrapped in `code` tags */
a.highlight code {
    color: var(--MAIN-LINK-color);
}
