<script type="text/javascript" src="/js/github-buttons.js"></script>

<center>
    <!-- https://buttons.github.io/ -->
    <a class="github-button" href="https://github.com/StackmateNetwork/stackmate.in/subscription" data-icon="octicon-eye" data-show-count="true" aria-label="Watch StackmateNetwork/stackmate.in on GitHub">Watch</a>
    <a class="github-button" href="https://github.com/StackmateNetwork/stackmate.in" data-icon="octicon-star" data-show-count="true" aria-label="Star StackmateNetwork/stackmate.in on GitHub">Star</a>
    <a class="github-button" href="https://github.com/StackmateNetwork/stackmate.in/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork StackmateNetwork/stackmate.in on GitHub">Fork</a>
</center>

